<template v-if="items" v-once>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li v-for="crumb of crumbs" :key="crumb.key" class="breadcrumb-item">
        <router-link :to="crumb.link">{{ crumb.key }}</router-link>
      </li>
    </ol>
  </nav>

  <div v-for="item of items?.CommonPrefixes" :key="nameOf(item)" class="font-icon-container dot-separate d-flex">
    <router-link :to="pathOf(item)" class="flex-grow-1">{{ nameOf(item) }}</router-link>
    <svg @click="downloadZip(item)" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="font-icon ms-2 me-1">
      <title>Download as zip</title>
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg>
  </div>

  <div v-for="item of items?.Contents" :key="nameOf(item)" class="dot-separate d-flex">
    <a :href="contentURLOf(item)" :download="nameOf(item)" class="text-truncate flex-grow-1">{{ nameOf(item) }}</a>
    <span class="ms-2 me-1 float-end">{{ prettyBytes(item.Size) }}</span>
  </div>
</template>

<script>
import URI from 'urijs'
import {mapActions, mapState, mapMutations} from 'vuex'
import prettyBytes from 'pretty-bytes'
import bulkGetObjects from '@/library/bulk-get'
import slugify from 'slugify'

export default {
  name: 'BrowseBucket',
  computed: {
    bucket() {
      return this.$route.params.bucket
    },
    chunk() {
      return this.$route.params.chunk
    },
    parentUrl() {
      return new URI(`${this.$route.path}/..`).normalizePath().toString()
    },
    crumbs() {
      const names = [this.bucket, ...this.chunk.split('/').filter((e) => !!e)]
      const arr = []
      names.forEach((e) => arr.push({ key: e, link: `${arr[arr.length - 1]?.link || '/'}${e}/` }))
      return arr
    },
    ...mapState({
      items: state => state.selected.items,
    }),
  },
  methods: {
    prettyBytes,
    ...mapActions(['fetchItems', 'fetchBuckets']),
    ...mapMutations(['setPath', 'setMessage']),
    pathOf(commonPrefix) {
      return URI.joinPaths(this.$route.path, this.nameOf(commonPrefix)).toString()
    },
    nameOf(item) {
      return (item.Prefix || item.Key).replace(this.chunk, '')
    },
    predictedURLOf(item) {
      return new URL(`${this.bucket}/${item.Key}`, process.env.VUE_APP_SERVER_URL)
    },
    fullURLOf(item) {
      return item.signedUrl
    },
    contentURLOf(item) {
      return this.$store.state.config.signedUrl ? this.fullURLOf(item) : this.predictedURLOf(item)
    },
    async downloadZip(commonPrefix) {
      this.setMessage("Downloading...")
      const archiveName = slugify(commonPrefix.Prefix)
      const now = new Date(Date.now()).toISOString()
      await bulkGetObjects(commonPrefix.Prefix, `${archiveName}-${now}.zip`)
      this.setMessage(null)
    },
  },
  async beforeRouteEnter(_, __, next) {
    next(async (vm) => {
      await vm.fetchBuckets()

      const index = vm.$store.state.buckets.findIndex((e) => e.Name === vm.bucket)
      if (index === -1) throw `Bucket '${vm.bucket}' not in ${vm.$store.state.buckets}`

      vm.setPath({
        bucket: vm.bucket,
        chunk: vm.chunk
      })
      await vm.fetchItems()
    })
  },
  async beforeRouteUpdate(to) {
    this.setPath({
      bucket: to.params.bucket,
      chunk: to.params.chunk,
    })
    await this.fetchItems()
  }
}
</script>

<style scoped>
.dot-separate:not(:last-child) {
  border-bottom: lightgrey dotted 1px;
}

.router-link-active {
  font-weight: 500;
}

.font-icon {
  display: none;
  width: 1rem;
  height: 1rem;
  align-self: center;
  cursor: pointer;
}

.font-icon-container:hover .font-icon {
  display: block;
}
</style>