<template>
  <h5>Select a bucket</h5>
  <router-link class="d-block"
               v-for="bucket of this.$store.state.buckets"
               :key="bucket.Name"
               :to="`/${bucket.Name}`">
    {{ bucket.Name }}
  </router-link>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'SelectBucket',
  methods: {
    ...mapActions(['fetchBuckets'])
  },
  async created() {
    await this.fetchBuckets()
  }
}
</script>